/* .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
   */

/* - Very Dark Blue: hsl(234, 12%, 34%)
- Grayish Blue: hsl(229, 6%, 66%)
- Very Light Gray: hsl(0, 0%, 98%) */

:root {
    --ff-sans: "Poppins", sans-serif;

    --fw-light: 200;
    --fw-normal: 400;
    --fw-bold: 600;

    --fs-400: 0.9375rem;
    --fs-500: 1.25rem;
    --fs-500: 1.625rem;
    --fs-900: 2.5rem;

    --clr-neutral-900: hsl(234, 12%, 34%);
    --clr-neutral-400: hsl(229, 6%, 66%);
    --clr-neutral-100: hsl(0, 0%, 98%);

    --clr-teal: hsl(180, 58%, 56%);
    --clr-red: hsl(0, 70%, 60%);
    --clr-blue: hsl(212, 75%, 62%);
    --clr-yellow: hsl(34, 89%, 65%);

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: var(--ff-sans);
    font-weight: var(--fw-normal);
    line-height: 1.7;
    color: var(--clr-neutral-400);
}

body {
    margin: 0;
    padding-block-end: 5rem;
}

h1,
h2,
h3 {
    color: var(--clr-neutral-900);
    line-height: 1.2;
}

.wrapper {
    padding-inline: 2rem;
    max-width: 1280px;
    margin-inline: auto;
}

.wrapper--narrow {
    max-width: 550px;
}

header {
    text-align: center;
    margin-block: 6rem;
}

h1 {
    font-weight: var(--fw-light);
    font-size: var(--fs-900);
}

h1 span {
    font-weight: var(--fw-bold);
}


header p {
    font-size: var(--fs-400);
}

.layout-grid {
    --gap: 2rem;
    display: flex;
    gap: var(--gap)
}

.layout-grid>* {
    flex: 1;
}

.col {
    display: grid;
    align-content: center;
    gap: var(--gap)
}

.card {
    --br: 0.325rem;
    padding: 2rem;
    border-top: var(--br) solid;
    border-radius: var(--br);
    box-shadow: 0 1rem 1.5rem -0.5rem rgb(0 50 100 / 0.1);
}

.card__title {
    font-size: var(--fs-600);
}

.card__image {
    display: block;
    margin-left: auto;
    margin-top: 2rem;
}

.border-teal {
    border-color: var(--clr-teal);
    margin: 0;
}

.border-red {
    border-color: var(--clr-red)
}

.border-yellow {
    border-color: var(--clr-yellow)
}

.border-blue {
    border-color: var(--clr-blue)
}